{% extends 'base.html' %}
{% load static %}

{% block contents %}

		

        {% load static %}
        
        {% block title %}
        Register Photo
        {% endblock title %}
        <body>
          {% block content %}
          <center>
            <div class="jumbotron">
              <br><br>
              {% block replace %}
              <hr class="my-4">
              <form method="POST" enctype="multipart/form-data">
                <!-- Very Important csrf Token -->
                {% csrf_token %}
                <br><br>
                <table>
                  {{ form.as_table }}
                </table>
                <br><br>
                <input type="submit" class="btn btn-primary btn-lg" name="register">
              {% endblock replace %}
            </div>
            <br><br>
          </center>
          {% endblock content %}
        </body>
        
        </html>





{% endblock %}